.header{
    background: $header-color-fondo;
    height: 60px;
    width: 100%;
	z-index: 10;
    border-bottom: 2px solid #ddd;
    @media screen and (min-width:47em){
		border-bottom:	none;
        position: relative;
        height: 90px;
    }
    &__logo{
        width: 150px;
        height: auto;
        float: left;
        margin: 0;
        padding: 20px 0px 0px 5px;
        &--txt{
            color: $header-color-logo;
            font-size: 1em;
            font-weight: bold;
        }
        @media screen and (min-width:47em){
            width: auto;
            padding-top: 33px;
            font-size: 1.4em;
        }
    }

    label{
        float: right;
        margin: 0;
        padding-right: 10px;
        padding-top: 10px;
        color: $paleta-celeste;
		cursor: pointer;
        @media screen and (min-width:47em){
			 display: none;
        }
    }

    &__checkbox{
        display: none;
    }

    &__nav{
        background:white;
        width: 100%;
        margin: 0px auto;
        margin-top: 1px;
        z-index: 100;
		position: absolute;
		left: 0;
		top: 59px;
        position: absolute;
        margin-left: -100%;
        transition: all 0.5s;
        @media screen and (min-width:47em){
            position: inherit;
            display: block;
            width: auto;
            height: 25px;
            float: right;
            margin-top: 25px;
        }
    }
    .menu{
        background-color: #fff;
        border-bottom: 2px solid #ddd;
        margin:0;
        list-style: none;
        z-index: 100;
        @media screen and (min-width:47em){
            width: 100%;
			border-bottom: none;
			display: flex;
			justify-content: center;
			flex-wrap: nowrap;
        }
        &__item{
            text-align: center;
            padding: 0px;          
            @media screen and (min-width:47em){
            }
        }
        &__link{  
            text-decoration: none;
            cursor: pointer;
            width: 100%;
            height: 100%;
            display: block;
            padding: 12px;
            color:$paleta-celeste;
			font-size: 0.9em;
            text-align: center;
            &:hover{
                background-color: $menu-item-active;
                color: $menu-color-texto-active;
                @media screen and (min-width:47em){
                    height: 70%;
                    margin-top: 5px;
                    padding-top: 7px;
                    border-radius: 8px;
                }
            }
            
            // &--active{
            //     background-color: $menu-item-active;
            //     color: $menu-color-texto-active;
            //     border-radius: 8px;
            //     height: 70%;
            //     margin-top: 5px;
            //     padding-top: 7px;
            // }
		}
		
    }
    .icon-bars:before{
		 font-size: 2.2em;   
	} 
 

}



#icon_bar{
  display: none;
}

/*esto controla el dinamismo del menu o sea que se desplaze de derecha a izquierda*/
#icon_bar:checked ~ .header__nav {
  margin: 0;
}

    
